.process-step {
    border: 5px #ebebeb solid;
    border-radius: 100%;
    line-height: 0;
    background: #959595;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    color: #fff;
    width: 45px;
    height: 45px;
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 7px;
    margin-right: 5px;
    z-index: 4;
    cursor: pointer;
}

.process-step:hover{
    border: 5px #d8d8d8 solid;
}

.process-step-active {
    background-color: #f89828;
}

/*//custom-css/*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    margin-bottom: 20px; /* Space between videos */
}

.headline-title{
    font-weight: bolder;
    font-size: 42px;
    font-family: 'Jost';text-transform: capitalize;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Adjust this if needed to make the button fit well */
}

.carousel-control-prev {
    left: 0; /* Align to the left edge */
}

.carousel-control-next {
    right: 0; /* Align to the right edge */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%; /* Make sure the icons fill the control button */
}
.arrow {
    border: solid #5a5050;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 9px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);}
.carousel-indicators button {
    background-color: red; /* Default color for inactive indicators */
}

.carousel-indicators .active {
    background-color: blue; /* Color for active indicator */
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: gray; /* Default color for inactive indicators */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-indicators .active {
    background-color: black; /* Color for active indicator */
    opacity: 1; /* Make the active indicator more visible */
}
.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Adjust this if needed to make the button fit well */
}

.carousel-control-prev {
    left: 0; /* Align to the left edge */
}

.carousel-control-next {
    right: 0; /* Align to the right edge */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%; /* Make sure the icons fill the control button */
}
.arrow {
    border: solid #5a5050;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 9px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);}
.carousel-indicators button {
    background-color: red; /* Default color for inactive indicators */
}

.carousel-indicators .active {
    background-color: blue; /* Color for active indicator */
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: gray; /* Default color for inactive indicators */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-indicators .active {
    background-color: black; /* Color for active indicator */
    opacity: 1; /* Make the active indicator more visible */
}

